.login-container {
  background-color: #ecececf2;

  height: 31.25rem;
  width: 25rem;
  border-radius: 10px;
  margin-top: 5rem;

  align-self: center;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-container span {
  color: #333;
  display: block;
  font-size: 40px;
  margin-bottom: 60px;
}

.login-container form {
  width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container form div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container label {
  color: #333;
  font-size: 18px;
  margin-bottom: 8px;
}

.login-container input {
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;

  width: 100%;
  padding: 10px;

  margin-bottom: 20px;
}

.login-container button {
  background-color: #007bff;
  cursor: pointer;
  color: #fff;

  border: none;
  border-radius: 5px;
  font-size: 18px;

  padding: 10px 20px;

  margin-top: 20px;

  transition: background-color 0.3s;
}

.login-container button:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 480px) {
  .login-container {
    width: 20rem;
    height: 30rem;
    margin-top: 20px;
  }
}

@media screen and (max-width: 360px) {
  .login-container {
    width: 18rem;
    height: 20rem;
    margin-top: 5rem;
  }

  .login-container span {
    font-size: 30px;
    margin-bottom: 40px;
  }

  .login-container label {
    font-size: 1rem;
  }

  .login-container input {
    width: 90%;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 320px) {
  .login-container {
    width: 100%;
    height: 100%;
    border-radius: 0;
    border-top: 1px solid #237061;
  }

  .login-container span {
    font-size: 30px;
  }
}

@media screen and (max-height: 1366px) {
  .login-container {
    margin-top: 14rem;
  }
}

@media screen and (max-height: 1280px) {
  .login-container {
    margin-top: 10rem;
  }
}

@media screen and (max-height: 1024px) {
  .login-container {
    margin-top: 9rem;
  }
}

@media screen and (max-height: 900px) {
  .login-container {
    margin-top: 8rem;
  }
}

@media screen and (max-height: 844px) {
  .login-container {
    margin-top: 7rem;
  }
}

@media screen and (max-height: 780px) {
  .login-container {
    margin-top: 4rem;
  }
}

@media screen and (max-height: 736px) {
  .login-container {
    margin-top: 3rem;
  }
}

@media screen and (max-height: 667px) {
  .login-container {
    margin-top: 1rem;
  }
}

@media screen and (max-height: 568px) {
  .login-container {
    margin-top: 0rem;
  }
}
